* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
#container {
  margin: 0 auto;
  max-width: 570px;
  padding: 12px;
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
