// -------------------------------------------------------------------
// Import Frameworks
// -------------------------------------------------------------------
@import "bootstrap-sprockets";
@import 'bootstrap-custom';
@import "font-awesome-sprockets";
@import "font-awesome";

// -------------------------------------------------------------------
// Site Core Styles
// -------------------------------------------------------------------
header {
  margin-top: $line-height-computed / 2;
}
footer {
  text-align: center;

  > p {
    border-top: 1px dashed #999999;
    margin: $line-height-computed / 2 0;
    padding-top: $line-height-computed / 2;
  }
}
th {
  text-align: center;
}
#page-title {
  margin-bottom: $line-height-computed;
  position: relative;

  h2 {
    background: #000000;
    bottom: 0;
    border-radius: $border-radius-base;
    color: #ffffff;
    left: 0;
    margin: 0;
    opacity: 0.75;
    position: absolute;

    @media (max-width: $screen-xs-max) {
      font-size: 18px;
      padding: 6px;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 24px;
      padding: 8px;
    }
  }
}

// -------------------------------------------------------------------
// Page Styles
// -------------------------------------------------------------------
#index-page {
  #logo {
    margin-bottom: $line-height-computed;
  }
}
#works-page {
  .service {
    &#days {
      background: #ffffff image-url('sv-yurie.jpg') no-repeat right 4px scroll;
      background-size: 128px 177px;
      padding-right: 128px;
    }

    &#onepad{
      background: #ffffff image-url('sv-onepad.png') no-repeat top left scroll;
      background-size: 293px 176px;
      padding: 52px 0 0 16px;
    }
  }
}

// -------------------------------------------------------------------
// Common Styles
// -------------------------------------------------------------------
.services {
  margin-bottom: $line-height-computed * (3 / 8);

  section.service {
    border: 1px solid #cccccc;
    border-radius: $border-radius-base;
    height: 160px;
    padding: $line-height-computed / 2;
    overflow: hidden;

    h1 {
      font-size: 20px;
      margin-top: 0;
    }

    p.actions {
      text-align: center;
    }
  }
}

strong.pricing {
  color: $brand-primary;
  font-size: 150%;
  font-weight: bold;
}
