!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'initial-scale=1.0,user-scalable=no'}
    %title ユーキューブ
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    %link{rel: 'author', href: 'http://google.me/+YuNakanishi'}
    %link{rel: 'icon', type: 'image/png', href: image_path('favicon.png')}
    %link{rel: 'apple-touch-icon', type: 'image/png', href: image_path('apple-touch-icon.png')}
  %body
    #container
      = yield
