---
title: Web 制作案内
description: ユーキューブで新しく Web サイト（ホームページ）を制作する場合、制作の流れやお見積例を紹介しています。
---
#operation-wordpress-page
  #page-title
    %div= image_tag('hd-wordpress.jpg', class: 'img-responsive img-rounded')
    %h2 Web 制作案内
%h3.lead-header 全案件でレスポンシブデザインを採用しています
.row
  .col-xs-12.col-md-4= partial 'development/p_responsive'
.row
  .col-xs-12.col-md-8.col-md-offset-2
    = partial 'partials/inquiry_form'
