%h4.text-center レスポンシブデザイン
%p.text-center= icon('mobile-phone', nil, class: 'fa-feature')
%ul
  %li デスクトップ、スマートフォンのどちらで見ても最適に表示されます
  %li 現在、業種によってはスマートフォンのアクセスのほうが多くなってきています
  %li Google は、スマートフォン対応されてるかどうかが検索順位に影響すると明言しています
