%h4.text-center バックアップ
%p.text-center= icon('cloud-upload', nil, class: 'fa-feature')
%ul
  %li サイトのデータを毎日バックアップ
  %li バックアップは1ヶ月間保持
  %li 最大1ヶ月前の状態にいつでも戻れます
  %li 障害でデータが消えてしまった場合だけでなく、誤って削除してしまった場合にも対応
