%h3.text-center 独自ドメイン
%p.text-center= icon('globe', nil, class: 'fa-feature')
%ul
  %li http://your-business.com/ といった、独自ドメインの取得・設定・管理
  %li info@your-business.com といった、メールも対応
  %li 問い合わせフォームなど個人情報の入力があるサイトの場合、個人情報保護のため SSL 証明書の取得・設定・管理
