%h4.text-center セキュリティ
%p.text-center= icon('shield', nil, class: 'fa-feature')
%ul
  %li 弊社は新たにセキュリティ問題が発見されないか常に情報収集しており、問題が発見された場合は適切に対処
  %li サイトに不審なアクセスが来ていないか常に監視
  %li 監視の結果、問題があると思われる場合、弊社に緊急通報が入ります
