%h3 おまかせ運用とは？
%ul
  %li 30サイト以上の運用経験から、必要な要素のパッケージです。
  %li 面倒なことは弊社に任せて、日々の業務に集中することができます。
%h3 このような方におすすめです
%ul
  %li 管理業務を任せたいが、社内に Web 担当者がいない
  %li Web サイトを持っているが、アクセス数など把握できておらず、どれだけ利益貢献しているか把握できていない
  %li Web サイトを使い、より効果をあげるにはどのようにすればよいかよく分からない
