#announcements-page
  #page-title
    %div= image_tag('hd-announcements.jpg', class: 'img-responsive img-rounded')
    %h2 おしらせ
  %ul
    - announcements.each do |announce|
      %li #{announce['date']}：#{announce['text']}
