#company-page
  %h2 会社概要
  %table.table.table-bordered
    %tr
      %th 社名
      %td 合同会社ユーキューブ
    %tr
      %th 英文表記
      %td YouCube LLC.
    %tr
      %th 設立
      %td 2014年10月
    %tr
      %th 資本金
      %td TBD
    %tr
      %th 従業員数
      %td 1名
    %tr
      %th 本店所在地
      %td 兵庫県三田市
    %tr
      %th 代表
      %td 仲西　悠
