---
title: 会社概要
---
#company-page
  #page-title
    %div= image_tag('hd-company.jpg', class: 'img-responsive img-rounded')
    %h1 会社概要
  %table.table.table-bordered
    %tr
      %th 社名
      %td 合同会社ユーキューブ
    %tr
      %th 英文表記
      %td YouCube LLC.
    %tr
      %th 設立
      %td 2014年10月
    %tr
      %th 資本金
      %td 1745千円
    %tr
      %th 従業員数
      %td 1名
    %tr
      %th 本店所在地
      %td 〒669-1546<br>兵庫県三田市弥生が丘4丁目14-2
    %tr
      %th 代表
      %td 仲西　悠
    %tr
      %th 主要取引銀行
      %td ジャパンネット銀行

