---
title: お問い合わせ完了
---
#completion-page
  #page-title
    %div= image_tag('hd-completion.jpg', class: 'img-responsive img-rounded')
    %h1 お問い合わせ完了

  %h3 お問い合わせありがとうございます。お返事いたしますのでしばらくお待ちくださいませ。

  %p#contact-directly お急ぎの方はお電話、または電子メール、 Twitter でもお受けしております。

  .row
    = partial 'partials/contact_form'
