#contact-page
  %h2 お問い合わせ
  %p Web 開発のご相談、お問い合わせなどは下記までお気軽にどうぞ。
  %p= link_to(icon('envelope-o', 'webmaster@youcube.jp'), '#', class: 'btn btn-default')
  %p= link_to(icon('twitter', '@youcune'), '#', class: 'btn btn-default')
