---
title: お問い合わせ
---
#contact-page
  #page-title
    %div= image_tag('hd-contact.jpg', class: 'img-responsive img-rounded')
    %h1 お問い合わせ
  %p Web 開発・運用についてのお問い合わせは下記フォームからお気軽にどうぞ。
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      = partial 'partials/inquiry_form'
  %p#contact-directly または、お電話、電子メール、 Twitter でもお受けしております。


  .row
    = partial 'partials/contact_form'
