---
title: 30分IT相談窓口 ダイヒョウダイヤル
description: ユーキューブ代表に直接Webやプログラミングに関することをご相談いただける、30分10,000円の電話コンサルティングサービスです。
---
#daihyo-dial-page
  .hero
    .row
      .col-xs-6
        %h1= image_tag('logo-daihyo-dial.png', alt: 'ダイヒョウダイヤル', width: 396, height: 186, class: 'img-responsive')
  %h2.lead-header 弊社ダイヒョウの仲西に電話相談できるサービスです。
  %p 仲西は下記のようなご相談に向いています。
  %ul
    %li インターネットを活用した利益向上施策のご相談
    %li オフィスの IT 環境整備のご相談
    %li Ruby, Ruby on Rails 学習のサポート、コードレビュー
    %li Web 制作会社から受け取った見積書の妥当性検証
    %li Web 担当者を採用するにあたっての適正確認
    %li 目標に対するモチベーション管理と運用
    %li 就職・転職活動についての相談
    %li 経営者と話してみたい
  %h2 代表略歴
  %ul
    %li 2010年　関西学院大学商学部を卒業。経営を専攻していたという記録はあるが、不真面目だったため大学で学んだことは何も思い出せない。
    %li 2010年　日本アイ・ビー・エム株式会社に入社。公共・製造・流通と幅広い業界の社内システムの開発支援を行う。要件の調整、JavaやC#による開発、テストを実施。Excelの作業が多かったため最も書いた言語はVBA。
    %li 2013年　エムスリー株式会社に入社。医師向け転職サイトの開発チームリーダーを担当し、システム保守および既存システムのRuby on Railsへの移行を企画・進行。
    %li 2014年　合同会社ユーキューブを設立。Webコンサルティングを中心に活動。
  %h2 価格
  .row
    .col-sm-6
      %table.table.table-bordered
        %tbody
          %tr
            %th.valign-middle 基本料金（30分まで）
            %td.text-right.pricing ¥10,000
          %tr
            %th.valign-middle 延長料金（5分ごと）
            %td.text-right.pricing ¥1,500
  %ul
    %li 価格は税別です。
    %li 前払いとなります。
    %li 延長をご希望の場合、延長分は後払いとなります。
    %li 延長の場合、5分未満の端数の時間は切り捨ててご請求となります。
    %li お電話、<a href="http://www.apple.com/jp/mac/facetime/" target="_blank">FaceTime</a>、<a href="https://appear.in/" target="_blank">appear.in</a>、<a href="http://www.skype.com/ja/" target="_blank">Skype</a>などで対応いたしますが、通信費がかかるものについてはその費用はご負担ください。
    %li お力になれなさそうと判断した場合、辞退・返金させていただきます。それ以外の場合での返金には応じかねます。
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      = partial 'partials/inquiry_form'
