---
title: 公正価格ポリシー
---

#fare-pricing-policy-page
  #page-title
    %div= image_tag('hd-announcements.jpg', class: 'img-responsive img-rounded')
    %h1 公正価格ポリシー

%h2 ユーキューブのお約束
%ul
  %li サービス内容が同じである場合、お客様によって価格を変えることはいたしません。
  %li 無条件での値引き交渉きはお断りしております（ご予算のある方は事前にお知らせいただければ、ご予算の範囲内でのご提案をさせていただきます）。
  %li 弊社から他社に見積を依頼する場合にも、無条件での値引き交渉はいたしません（初回のお見積で発注の判断をします）。

%h2 背景
%p 「値切る」という行為に時間をかけると、打ち合わせにコストがかかってしまい、どんどん利益を圧迫します。そのようなお客様と長期のおつきあいをしても今後の弊社のメリットにはつながりにくくなります。また、そこで圧迫された利益は、「値切る」ということをしない他社のお客様が補填することになってしまい、不公平です。
%p とくに関西圏では、「値切られること前提の見積を出す」ということが一種の常識と化しているように思います。弊社は「とりあえず値切っておけば得をする」という風潮に反対します。
