#index-page
  .row
    .col-xs-8.col-xs-offset-2.col-md-6.col-md-offset-3
      %p= image_tag 'logo.png', alt: 'ユーキューブ', class: 'img-responsive'
  %p
    %span.label.label-default 最新のおしらせ
    = "#{announcements.last['date']}: #{announcements.last['text']}"
