#index-page
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2
      %p#logo= link_to(image_tag('icon1310.png', alt: 'ユーキューブ', class: 'img-responsive'), '/works/')
  %p
    %span.label.label-default 最新のおしらせ
    = "#{announcements.last['date']}：#{announcements.last['text']}"
