---
title: 代表挨拶
---
#mission-page
  #page-title
    %div= image_tag('hd-message.jpg', class: 'img-responsive img-rounded')
    %h1 代表挨拶
  %h2.lead-header 合同会社ユーキューブは、情報技術社会の発展に貢献し、人々の生活をより豊かにすることを目指します。
  %p
    春はあけぼの<br>
    夏もあけぼの<br>
    寿司はウニ<br>
    カフェはルノアール<br>
    21世紀は情報技術社会<br>
    情報技術と仲良くつきあうことが、21世紀を幸せに生きぬく秘訣。
  %h2.lead-header 情報技術を活用しビジネスを加速するお手伝いをします。
  %p IT 部門を持たない中小企業のビジネスを支援いたします。お店の紹介や商品情報など、 Web を使って発信していきましょう。無意識に与えられる新聞折込の広告などとは違い、 Web の情報はユーザが自発的に訪れるため、購買意欲の高いユーザにリーチできます。
  %p また、たとえば Microsoft Excel を使用して日々のルーチンワークに時間を費やしてしまっていないですか？　単調な作業は自動化し、より利益を生む活動をするお手伝いもできるかもしれません。ぜひお気軽にご相談ください。
  %h2.lead-header 社会に価値のあるサービスを生み出します。
  %p 現在、少し落ち着いたとはいえまだまだ就職難の時代です。少しでもうまくいくようお手伝いするため、就職活動中の大学生・大学院生をサポートする Web サービスを 2014 年中にプレオープン予定です。
  %p また、これからますます情報技術社会の発展が予期されているものの、現在において IT 業界はどの会社も人材不足だと言います。 IT 業界に興味を持つ子どもを育成し、業界に貢献がしたい。そんな思いから小中学生向けのプログラミング塾を 2015 年の夏に開講予定です。
