#mission-page
  #page-title
    %div= image_tag('hd-mission.jpg', class: 'img-responsive img-rounded')
    %h2 代表挨拶
  %p.lead 日本全体を幸せにしたい。
  %p
    春はあけぼの<br>
    夏もあけぼの<br>
    寿司はウニ<br>
    カフェはルノアール<br>
    21世紀は情報技術社会<br>
    情報技術社会を生き抜くことが21世紀を幸せに生きぬく秘訣。
  %p.lead 世の中に価値のあるものを生み出し、社会を変えていく。
  %p 合同会社ユーキューブは、情報技術社会の発展に貢献し、人々の生活をより豊かにすることを目指します。それが合同会社ユーキューブの企業理念です。設立後まだ間もない会社ではありますが、皆様のご支援を賜りましたら幸甚です。
  %p.lead まずは地域に根ざした Web 企業に
  %p 日本全体を幸せにするために、まずは創業の地である兵庫県三田市を幸せあふれる地域にすることを目指します。
