---
title: プライバシーポリシー（個人情報保護方針）
---
#page-title
  %div= image_tag('hd-company.jpg', class: 'img-responsive img-rounded')
  %h1 プライバシーポリシー
%p 合同会社ユーキューブ（以下「当社」とする）は、プライバシーポリシー（個人情報保護方針）を以下のように定め、個人情報保護に取り組んでまいります。

%h2 個人情報の管理
%p 当社は、お客さまの個人情報を安全に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。

%h2 個人情報の利用目的
%p お客さまからお預かりした個人情報は、当社からの業務上のご連絡やご案内の目的にのみ使用いたします。

%h2 個人情報の第三者への開示・提供の禁止
%p 当社は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
%ul
  %li お客さまの同意がある場合
  %li お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合
  %li 法令に基づき開示することが必要である場合

%h2 個人情報の安全対策
%p 当社は、個人情報の安全性確保のために、セキュリティに万全の対策を講じています。

%h2 ご本人の照会
%p お客さまが当社の保有する個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、適切に対応させていただきます。

%h2 法令、規範の遵守と見直し
%p 当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。

%h2 お問い合わせ
%p 当社の個人情報の取扱いに関するご意見やお問い合せなどございましたら、<a href="/contact/">お問い合わせ</a>ください。
